<mat-toolbar color="primary">
    <span>
        <a routerLink="/">Invoices Pro Ltd.</a>
    </span>
    <span class="spacer"></span>
    <ul>
        <li><a mat-button routerLink="" routerLinkActive="mat-warn">Home</a></li>
        <li><a mat-button routerLink="/create" routerLinkActive="mat-warn">Invoices</a></li>
        <li><a mat-button routerLink="/login" routerLinkActive="mat-warn">Login</a></li>
        <li><a mat-button routerLink="/signup" routerLinkActive="mat-warn">Signup</a></li>
        <li><a mat-button routerLink="#" routerLinkActive="mat-warn">Module5</a></li>
        <li><a mat-button routerLink="#" routerLinkActive="mat-warn">Module6</a></li>
        <li><a mat-button routerLink="#" routerLinkActive="mat-warn">Module7</a></li>
        <li><a mat-button routerLink="#" routerLinkActive="mat-warn">Module8</a></li>
    </ul>
</mat-toolbar>
