app-invoice-create{
    grid-area: invoices-form;
}

mat-card{
    width: 80%;
  form{
        display: flex;
        flex-direction: column;
        align-items: center;

        mat-form-field{
            width: 80%;
        }

        mat-radio-group{
            width: 50%;
            display: flex;
            justify-content: space-around;
            padding-top: 2em;
            padding-bottom: 1em;
        }

        mat-error{
            margin: 1em 0 1em 0;
        }

        .form-buttons{
            button{
                &:nth-child(even){
                    margin-left: 2em;
                }
            }
        }
    }
}
