.invoice-create-continer{
    display: flex;
    justify-content: space-around;

   
}

app-invoice-list{
    display: flex;
    margin-top: 2em;
    margin-right: 2em;
    justify-content: center;
    
}